@model WebApp.Models.Offer.OfferSearchViewModel

@{
    ViewBag.Title = "Index";
}
<div class="grey lighten-5 card-panel row">
    @using (Html.BeginForm())
    {
        <div class="form-search-part">
                <div class="form-search-field">
                    @Html.Label("Name:")
                    <span class="big-textBox">@Html.TextBox("name", Model.SearchParams.Name)</span>
                </div>
                <div class="form-search-field">
                    @Html.Label("Min salary:")
                    <span class="small-textBox">@Html.TextBox("minSalary", Model.SearchParams.MinSalary)</span>
                    
                </div>
                <div class="form-search-field">
                    @Html.Label("Max salary:")
                    <span class="small-textBox">@Html.TextBox("maxSalary", Model.SearchParams.MaxSalary)</span>  </div>
        </div>
        @Html.Label("Skills:")
        @Html.Partial("_SkillFormPartial", Model.SearchParams.Skills)

        <div class="row">
            <button type="submit" class="btn ">Search &raquo;</button>
        </div>
    }
    @Html.Partial("_BlankSkillRowPartial", Model.SearchParams.Skills)
</div>
<span class="red-text text-darken-2 ">@Html.ValidationMessage("noOffers")</span>  
@for (int i = Model.Offers.ScoredOffersList.Count - 1; i >= 0; i--)
{
    @Html.Partial("_ScoredOfferPartial", Model.Offers.ScoredOffersList[i].Offer)    
}
@Scripts.Render("~/bundles/skills")
