@model WebApp.Models.Offer.OfferSearchViewModel

@{
    ViewBag.Title = "Index";
}
<div class="grey lighten-3 card-panel">
    @using (Html.BeginForm())
    {
        <div class="form-search-part">
                <div class="form-search-field">
                    @Html.Label("Name:")
                    <span class="big-textBox">@Html.TextBox("name", Model.SearchParams.Name)</span>
                </div>
                <div class="form-search-field">
                    @Html.Label("Min salary:")
                    <span class="small-textBox">@Html.TextBox("minSalary", Model.SearchParams.MinSalary)</span>
                    
                </div>
                <div class="form-search-field">
                    @Html.Label("Max salary:")
                    <span class="small-textBox">@Html.TextBox("maxSalary", Model.SearchParams.MaxSalary)</span>  </div>
        </div>
        @Html.Label("Skills:")
        @Html.Partial("_SkillFormPartial", Model.SearchParams.Skills)             
        
        <div class="switch">
            <label>
                Salary: Dsc
                <input type="checkbox" id="IsSalarySort" name="IsSalarySort" value="@Model.SearchParams.IsSalarySort.ToString()" />
                <span class="lever"></span>            
                Asc
            </label>
            <label>
                Score: Dsc
                <input type="checkbox" id="IsScoreSort" name="IsScoreSort" value="@Model.SearchParams.IsScoreSort.ToString()" />
                <span class="lever"></span>
                Asc
            </label>
            <label>
                Date: Dsc
                <input type="checkbox" id="IsDateSort" name="IsDateSort" value="@Model.SearchParams.IsDateSort.ToString()" />
                <span class="lever"></span>
                Asc
            </label>
        </div>
        <div class="row">
            <button type="submit" class="btn ">Search &raquo;</button>
        </div>
    }
    @Html.Partial("_BlankSkillRowPartial", Model.SearchParams.Skills)
</div>
<span class="red-text text-darken-2 ">@Html.ValidationMessage("noOffers")</span>  
@for (int i = 0; i < Model.Offers.ScoredOffersList.Count; i++)
{
    <div class="grey lighten-3 card-panel">
        @Html.Partial("_ScoredOfferTitlePartial", Model.Offers.ScoredOffersList[i].Offer)
                <div class="offer-buttons">
                    @Html.ActionLink("Details", "Details", "Offer", new { id = Model.Offers.ScoredOffersList[i].Offer.Id }, new { @class = "btn-large waves-effect waves-light" })               
                </div>               
        @Html.Partial("_SkillsListpartial", Model.Offers.ScoredOffersList[i].TopSkills)
        </div>    
}
@Scripts.Render("~/bundles/skills")
@Scripts.Render("~/bundles/offer")