@model WebApp.Models.RecruiterUser
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


Name: @Model.Name<br/>
Email: @Model.Email

@using (Html.BeginForm())
{
    <div>
        @Html.Label("Surname")
        @Html.TextBox("surname", Model.Surname)
    </div>
    <div>
        @Html.Label("Company Name")
        @Html.TextBox("companyName", Model.CompanyName)
    </div>
    <div>
        @Html.Label("Company Description")
        @Html.TextArea("companyDescription", Model.CompanyDescription)
    </div>
    <p>
        <button type="submit" class="btn">Zapisz &raquo;</button>
    </p>
}