@model List<WebApp.Models.Candidate.SkillModel>
    <div class="skill-row blank-row hidden collection-item">
        <div class="">
            <input type="hidden" name="Skills.Index" value="@Model.Count" />
            <span class="skill-name">
                <input class="autocomplete" value="" type="text" placeholder="Name" />
            </span>
            <span class="skill-level range-field">
                <input type="range" min="1" max="10" value="5" placeholder="Level" />
            </span>
            <span class="value-field value-field-css teal-text text-darken-2"></span>
            <button onclick="return false" class="btn-flat delete-skill ">Delete</button>
        </div>
        <span class="red-text text-darken-2">
            @Html.ValidationMessage("Skills[" + @Model.Count + "].Name")
        </span>
        <span class="red-text text-darken-2">
            @Html.ValidationMessage("Skills[" + @Model.Count + "].Level")
        </span>
    </div>
