@model WebApp.Models.Candidate.ScoredCandidateViewModel

<div class="grey lighten-5 card-panel list-panel row flex-container">
    <div class="left panel-part-left">
        <a href="@Url.Action("Detail", "CandidateProfile", new {id = Model.CandidateId})">
            <div>
                <div class="inline-field offer-title">
                    @if (Model.Candidate.Name.Count() <= 20)
                    {
                        <h5>@Model.Candidate.Name</h5>
                    }
                    else
                    {
                        <h5>@Model.Candidate.Name.Substring(0,20)...</h5>
                    }
                </div>
                <div>@Model.ModificationDate</div>
                <div class="description">
                    <p>
                        @if (Model.Candidate.ExperienceDescription != null)
                        {
                            @Model.Candidate.ExperienceDescription.Substring(0, Math.Min(Model.Candidate.ExperienceDescription.Count(), 200))
                        }
                    </p>

                </div>
                @Html.Partial("_SkillsListPartial", Model.TopSkills)
            </div>
        </a>

    </div>

    <div class="right panel-part-right">
        <div class="additional-info">
            <div class="additional-info-element">
                <h5>@Model.Candidate.Salary PLN</h5>
            </div>
            <div class="additional-info-element">
                <span>
                    @String.Format("{0:0.00}", Model.Candidate.Score)
                </span>
            </div>
        </div>
    </div>
</div>
