@model WebApp.Models.Offer.OfferViewModel
    
@{  
    ViewBag.Title = "OfferPartial";
}

<div class="grey lighten-5 card-panel list-panel row flex-container">
    <div class="left panel-part-left">
        <a href="@Url.Action("Details", "Offer", new {id = Model.Offer.Id })">
            <div class="inline-field offer-title">
                <h5>@Model.Offer.Name</h5>
            </div>
            <div> @Model.ModificationDate</div>
            <div class="description">
                <p>
                    @if(Model.Offer.Description != null){
                    @Model.Offer.Description.Substring(0, Math.Min(Model.Offer.Description.Count(), 200))
                    }      
                </p>
            </div>
            @Html.Partial("_SkillsListPartial", Model.TopSkills)
        </a>
    </div>
    <div class="right panel-part-right">
        <div class="additional-info">
            <div class="additional-info-element">
                <h5>@Model.Offer.Salary PLN</h5>
            </div>
            <div class="additional-info-icons">
                <a href="@Url.Action("Index", "CandidateSearch", new {id = Model.Offer.Id})"<i class="custom-small material-icons">search</i></a> 
                <a href="@Url.Action("Edit", "Offer", new { id = Model.Offer.Id})"<i class="custom-small material-icons">description</i></a>
                <a href="#remove-modal" class="modal-trigger"><i class="custom-small material-icons">delete</i></a>
            </div>
        </div>
    </div>
</div>

