@using WebApp.Models
@model WebApp.Models.Candidate.CandidateSearchViewModel
<div class="radio-twins">
    <label>Salary: </label>
    @if (Model.SearchParams.SortBy == SortBy.SalaryAsc)
    {
        <input id="IsSalarySortAsc" name="sortBy" type="radio" value="@SortBy.SalaryAsc.ToString()" checked="checked" />
    }
    else
    {
        <input id="IsSalarySortAsc" name="sortBy" type="radio" value="@SortBy.SalaryAsc.ToString()" />
    }
    <label for="IsSalarySortAsc">Asc</label>
    @if (Model.SearchParams.SortBy == SortBy.SalaryDsc)
    {
        <input id="IsSalarySortDsc" name="sortBy" type="radio" value="@SortBy.SalaryDsc.ToString()" checked="checked" />
    }
    else
    {
        <input id="IsSalarySortDsc" name="sortBy" type="radio" value="@SortBy.SalaryDsc.ToString()" />
    }
    <label for="IsSalarySortDsc">Dsc</label>
</div>
<div class="radio-twins">
    <label>Score: </label>
    @if (Model.SearchParams.SortBy == SortBy.ScoreAsc)
    {
        <input id="IsScoreSortAsc" name="sortBy" type="radio" value="@SortBy.ScoreAsc.ToString()" checked="checked" />
    }
    else
    {
        <input id="IsScoreSortAsc" name="sortBy" type="radio" value="@SortBy.ScoreAsc.ToString()" />
    }
    <label for="IsScoreSortAsc">Asc</label>
    @if (Model.SearchParams.SortBy == SortBy.ScoreDsc)
    {
        <input name="sortBy" id="IsScoreSortDsc" type="radio" value="@SortBy.ScoreDsc.ToString()" checked="checked" />
    }
    else
    {
        <input name="sortBy" id="IsScoreSortDsc" type="radio" value="@SortBy.ScoreDsc.ToString()" />
    }
    <label for="IsScoreSortDsc">Dsc</label>
</div>
<div class="radio-twins">
    <label>Date: </label>
    @if (Model.SearchParams.SortBy == SortBy.DateAsc)
    {
        <input id="IsDateSortAsc" name="sortBy" type="radio" value="@SortBy.DateAsc.ToString()" checked="checked" />
    }
    else
    {
        <input id="IsDateSortAsc" name="sortBy" type="radio" value="@SortBy.DateAsc.ToString()" />
    }
    <label for="IsDateSortAsc">Asc</label>
    @if (Model.SearchParams.SortBy == SortBy.DateDsc)
    {
        <input id="IsDateSortDsc" name="sortBy" type="radio" value="@SortBy.DateDsc.ToString()" checked="checked" />
    }
    else
    {
        <input id="IsDateSortDsc" name="sortBy" type="radio" value="@SortBy.DateDsc.ToString()" />
    }
    <label for="IsDateSortDsc">Dsc</label>
</div>