@model WebApp.Models.Offer.OfferModel

@{
    ViewBag.Title = "Create an offer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card-panel grey card-panel-expanding lighten-5">
    <h4>@ViewBag.Title</h4>

    @using (Html.BeginForm())
    {
        <div class="form-part">
            @Html.Label("Position:")<br />
            @Html.TextBox("name", Model.Name)
            <span class="red-text text-darken-2">@Html.ValidationMessage("name")</span>
        </div>
        <div class="form-part">
            @Html.Label("Salary:")<br />
            @Html.TextBox("salary", Model.Salary)
            <span class="red-text text-darken-2">@Html.ValidationMessage("salary")</span>
        </div>
        <div class="form-part">
            @Html.Label("Description:")<br/>
            @Html.TextArea("description",Model.Description, new { @class = "materialize-textarea" })
            <span class="red-text text-darken-2">@Html.ValidationMessage("description")</span>
        </div>

        @Html.Label("Skills:")<br />
        @Html.Partial("_SkillFormPartial", Model.Skills)

        <div class="right clearfix">
            <button type="submit" class="btn ">Save </button>
        </div>
    }
    @Html.Partial("_BlankSkillRowPartial", Model.Skills)
    @Scripts.Render("~/bundles/skills")
</div>