@model WebApp.Models.Offer.OfferViewModel

@{
    ViewBag.Title = "Details";
}
<div class="grey lighten-3 card-panel">
    <div class="offer-title">
        <div class="inline-field">
            <div class="card-panel orange lighten-3">
                <span>@Model.Offer.Name</span>
            </div>
        </div>
        <div class="inline-field">
            <div class="card-panel orange lighten-3">
                <span>@Model.Offer.Salary</span> PLN
            </div>
        </div>
    </div>
    @if (User.IsInRole("Recruiter"))
    {
        <div class="offer-buttons">
            @Html.ActionLink("Edit", "Edit", "Offer", new { id = Model.Offer.Id }, new { @class = "btn-large waves-effect waves-light" })
            <a href="#remove-modal" class="btn-large waves-effect waves-light btn modal-trigger">Remove</a>
        </div>
    }
    <div class="skill-list">
        @foreach (var skill in Model.Offer.Skills)
        {
            <div class="inline-field">
                <div class="card-panel amber lighten-4">
                    @skill.Name
                    @skill.Level
                </div>
            </div>
        }
    </div>
</div>
@Html.Partial("_RemoveModalPartial", Model.Offer)
@Scripts.Render("~/bundles/offer")