@model WebApp.Models.Offer.OfferViewModel

@{
    ViewBag.Title = "Details";
}
<div class="grey lighten-3 card-panel">
    @Html.Partial("_OfferTitlePartial", Model.Offer)
    @if (User.IsInRole("Recruiter"))
    {
        <div class="offer-buttons">
            @Html.ActionLink("Edit", "Edit", "Offer", new { id = Model.Offer.Id }, new { @class = "btn-large waves-effect waves-light" })
            <a href="#remove-modal" class="btn-large waves-effect waves-light btn modal-trigger">Remove</a>
        </div>
    }
    @Html.Partial("_SkillsListpartial", Model.Offer.Skills)     
</div>
@Html.Partial("_RemoveModalPartial", Model.Offer)
@Scripts.Render("~/bundles/offer")
