@model WebApp.Models.Offer.OfferViewModel

@{
    ViewBag.Title = "Details";
}
<div class="grey lighten-5 card-panel list-panel row flex-container">
    <div class="left panel-part-left">        
        <div class="inline-field offer-title">
            <h5>@Model.Offer.Name</h5>
            </div>
        <div> 
            @Model.ModificationDate
        </div>
        <div class="description">
            <p>
                @Model.Offer.Description
            </p>
            </div>
        @Html.Partial("_SkillsListPartial", Model.Offer.Skills)
        </div>
    <div class="right panel-part-right">
        <div class="additional-info">
            <div class="additional-info-element">
                <h5>@Model.Offer.Salary PLN</h5>
    </div> 
            @if(User.IsInRole("Recruiter"))
    {
                @Html.Partial("_EditRemoveButtonsPartial", Model.Offer)
    }
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/offer")
