@{
    ViewBag.Title = "Home Page";
}

@if (!Request.IsAuthenticated)
{
    <div class="main-content row card-panel grey lighten-5">
        <div class="main-photo left">
            <img src="~/Content/Images/manwithpen.jpg" />
        </div>

        <div class="main-buttons">
            <div class="buttons-group">
                @Html.ActionLink("Login as a recruiter", "Login", "Recruiter", null, new { @class = "btn-large waves-effect waves-light" })<br />
                @Html.ActionLink("Register as a recruiter", "Register", "Recruiter", null, new { @class = "btn-flat waves-effect waves-light" })<br />
            </div>
            <div class="buttons-group">
                @Html.ActionLink("Login as a candidate", "Login", "Candidate", null, new { @class = "btn-large waves-effect waves-light" })<br />
                @Html.ActionLink("Register as a candidate", "Register", "Candidate", null, new { @class = "btn-flat waves-effect waves-light" })<br />
            </div>
        </div>
    </div>
    <div class="main-content row card-panel grey lighten-5">
        <div class="main-photo right">
            <img src="~/Content/Images/manwithpen.jpg" />
        </div>
        <div class="left buttons-group">
            @Html.ActionLink("Find a candidate", "Index", "CandidateSearch", null, new { @class = "btn-large waves-effect waves-light red lighten-2" })
        </div>
        <div class="left buttons-group" >
            @Html.ActionLink("Find an job offer", "Index", "OfferSearch", null, new { @class = "btn-large waves-effect waves-light red lighten-2" })
        </div>

    </div>
    
}
else
{

    <h4>NEWS</h4>

}