@model  WebApp.Models.Candidate.CandidateViewModel

@{
    ViewBag.Title = "Index";
}

@if (@ViewData.ModelState.IsValid == false)
{
    <div class="card-panel">
        <span class="red-text text-darken-2">
            @Html.ValidationSummary()
        </span>
    </div>
}

<div class="card-panel grey lighten-5 card-panel-expanding">
    <div class="form-part">
        <label>Name: </label> @Model.Name
    </div>
    <div class="form-part">
        <label>Email: </label> @Model.Email
    </div>
    <div class="form-part">
        <label>Modification date: </label> @Model.ModificationDate
    </div>

    @using (Html.BeginForm())
    {
        <div class="form-part">
            @Html.Label("Experience in years:") <br>
            @Html.TextBox("experienceInYears", Model.Candidate.ExperienceInYears)
            <span class="red-text text-darken-2">@Html.ValidationMessage("experienceInYears")</span>
        </div>
        <div class="form-part">
            @Html.Label("Experience description:") <br />
            @Html.TextArea("experienceDescription", Model.Candidate.ExperienceDescription, new { @class = "materialize-textarea" })
        </div>
        <div class="form-part">
            @Html.Label("Salary:") <br />
            @Html.TextBox("salary", Model.Candidate.Salary)
            <span class="red-text text-darken-2">@Html.ValidationMessage("salary")</span>
        </div>
        @Html.Label("Skills:")<br />
        @Html.Partial("_SkillFormPartial", Model.Candidate.Skills)

        <div class="right clearfix">
            <button type="submit" class="btn ">Save </button>
        </div>
    }
    @Html.Partial("_BlankSkillRowPartial", Model.Candidate.Skills)

    @Scripts.Render("~/bundles/skills")
</div>
