@model  WebApp.Models.Candidate.CandidateViewModel

@{
    ViewBag.Title = "Index";
}



<div class="form-part">
    <label>Name: </label> @Model.Name 
</div>
<div class="form-part">
    <label>Email: </label> @Model.Email 
</div>

    @using (Html.BeginForm())
    {
        <div class="form-part">
        @Html.Label("Experience in years:") <br>
            @Html.TextBox("experienceInYears", Model.Candidate.ExperienceInYears)
            <span class="red-text text-darken-2">@Html.ValidationMessage("experienceInYears")</span>          
        </div>
        <div class="form-part">        
            @Html.Label("Experience description:") <br />
            @Html.TextArea("experienceDescription", Model.Candidate.ExperienceDescription, new { @class = "materialize-textarea" })
        </div>
        <div class="form-part">
            @Html.Label("Salary:") <br />
            @Html.TextBox("salary", Model.Candidate.Salary)
            <span class="red-text text-darken-2">@Html.ValidationMessage("salary")</span>
        </div>

    @*for (int i = 0; i < Model.Skills.Count; i++)
    {
           <input type="hidden" name="Skills.Index" value="@i" />
        <div class="row">
            <span>
                @Html.TextBoxFor(r => r.Skills[i].Name)
            </span>
            <span>
                @Html.TextBoxFor(r => r.Skills[i].Level)
            </span>
        </div>
    }*@

    @Html.Partial("_SkillFormPartial", Model.Candidate.Skills)



    }

<div class="skill-row blank-row hidden">
    <div class="row">
        <input type="hidden" name="Skills.Index" value="@Model.Candidate.Skills.Count" />
        <span class="col s3 skill-name">
            <input value="" type="text" />
        </span>
        <span class="col s3 skill-level">
            <input value="" type="text" />
        </span>
        <button onclick="return false" class="btn delete-skill red lighten-3">Delete</button>
    </div>
    <div class="row red-text text-darken-2">
        <span class="col s3">
            @Html.ValidationMessage("Skills[" + @Model.Candidate.Skills.Count + "].Name")
        </span>
        <span class="col s3">
            @Html.ValidationMessage("Skills[" + @Model.Candidate.Skills.Count + "].Level")
        </span>
    </div>
</div>
@Scripts.Render("~/bundles/site")
